global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude Thumbs.db
global-exclude Desktop.ini
global-exclude *.swp
global-exclude *~
global-exclude *.bak
include README.md
include LICENSE
include HISTORY.md
include DEVELOPMENT.md
include requirements-dev.txt
include manage.py
include docker-compose.yml
include Dockerfile
include conf/certs/.empty
include conf/nginx/default.conf
recursive-include tests *.py
